:root {
  /* Fonts */
  --main-font: 'Poppins', Verdana, Arial, Helvetica, sans-serif;
  /* Footer font */
  --secondary-font: 'Roboto', sans-serif;

  /* Text colors */
  --main-text-cl: #FD5103;
  --white-cl: #ffffff;
  --secondary-text-cl: rgba(0, 0, 0, 0.6);
  --modal-text-cl: #5F6775

  // /* btn colors */

  // --default-btn-cl: #e86f54;
  // --hover-btn-cl: #e25b41;
  // --focus-btn-cl: #fa6f54;

  // /* Others */
  // --icon-logo-cl: 00eE0E;

  // --btn-radius: 38px;

  // --anim-fast: 300ms ease;
  // --anim-slow: 600ms ease-in-out;
}