:root {
  /* Fonts */
  --main-font: 'Poppins', Verdana, Arial, Helvetica, sans-serif;
  /* Footer font */
  --secondary-font: 'Roboto', sans-serif;

  --dark-bg-cl: #202025;
  --light-cl: #FCFCFC;
  --black-cl: #000000;

  /* Text colors */
  --main-text-cl: #FD5103;
  --white-cl: #ffffff;
  --black-text-cl: #202025;
  --gray-text-cl: #5F6775;
  /* btn colors */

  --default-btn-cl: #FE7031;

  /* Others */
  --b-radius: 4px;;

  --anim-fast: 300ms ease;
  --anim-slow: 600ms ease-in-out;
}