<div class="container">
  <ul class="fav-ing-wrapper"></ul>
</div>

<!-- <li class="favorite">
    <h3 class="favorite__title">Negroni</h3>
    <p class="favorite__text">Liqueur</p>
    <div class="button">
        <button type="button" class="button__btn button__btn--learn-more">Learn more</button>
        <button type="button" class="button__btn button__btn--add-to">Remove
            <svg class="button__icon">
                <use class="icon-heart" href="./images/icons.svg#icon-heart_fill"></use>
            </svg>
        </button>
    </div>
</li> -->
