<section class="fav-cocktails">
  <div class="container">
    <h2 class="fav-cocktails__title">Favorite cocktails</h2>
    <div class="fav-cocktails__box">
      <div class="fav-card">
        <img
          src="./images/favicon/android-chrome-192x192.png"
          alt="alt"
          class="fav-card__img"
        />
        <h3 class="fav-card__title">Negroni</h3>
        <div class="fav-buttons">
          <button
            type="button"
            class="fav-buttons__btn fav-buttons__btn--learn-more"
          >
            Learn more
          </button>
          <button
            type="button"
            class="fav-buttons__btn fav-buttons__btn--remove"
          >
            Remove
            <svg class="fav-buttons__icon">
              <use href="./images/icons.svg#icon-heart_fill"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
