<section class="gallery">
    <div class="container">
        <h2 class="gallery__title">Coctails</h2>
        <div class="gallery__wrapper">
            <div class="card">
                <img src="./images/favicon/android-chrome-192x192.png" alt="alt" class="card__img">
                <h3 class="card__title">Negroni</h3>
                <div class="buttons">
                    <button type="button" class="buttons__btn buttons__btn--learn-more">Learn more</button>
                    <button type="button" class="buttons__btn buttons__btn--add-to">Add to
                        <svg class="buttons__icon">
                            <use href="./images/icons.svg#icon-heart"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="card">
                <img src="./images/favicon/android-chrome-192x192.png" alt="alt" class="card__img">
                <h3 class="card__title">Negroni</h3>
                <div class="buttons">
                    <button type="button" class="buttons__btn buttons__btn--learn-more">Learn more</button>
                    <button type="button" class="buttons__btn buttons__btn--add-to">Add to
                        <svg class="buttons__icon">
                            <use href="./images/icons.svg#icon-heart"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="card">
                <img src="./images/favicon/android-chrome-192x192.png" alt="alt" class="card__img">
                <h3 class="card__title">Negroni</h3>
                <div class="buttons">
                    <button type="button" class="buttons__btn buttons__btn--learn-more">Learn more</button>
                    <button type="button" class="buttons__btn buttons__btn--add-to">Add to
                        <svg class="buttons__icon">
                            <use href="./images/icons.svg#icon-heart"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>



    </div>
</section>