<section class="gallery">
    <div class="container">
        <h2 class="gallery__title">Cocktails</h2>
        <div class="gallery__wrapper">

        </div>
        <div class="pagination is-hidden">
            <ul class="pagination__list">
                <li class="pagination__item">
                    <button type="button" class="pagination__btn pagination__btn-prev">
                        <svg class="pagination__icon">
                            <use href=" ./images/icons.svg#icon-arrow_right"></use>
                        </svg>
                    </button>
                </li>
                <div class="pagination__items-wrapper">
                </div>
                <li class="pagination__item">
                    <button type="button" class="pagination__btn pagination__btn-next">
                        <svg class="pagination__icon">
                            <use href=" ./images/icons.svg#icon-arrow_right"></use>
                        </svg>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</section>