<section class="hero-section">
  <div class="container hero">
    <h1 class="hiro-title">
      A party without cocktails<br />
      is not like a party
    </h1>
    <p class="search-text">Search your favorite cocktail by ABC</p>
    <div class="search-container">
      <div class="search-box" value="A">A</div>
      <div class="search-box" value="B">B</div>
      <div class="search-box" value="C">C</div>
      <div class="search-box" value="D">D</div>
      <div class="search-box" value="E">E</div>
      <div class="search-box" value="F">F</div>
      <div class="search-box" value="G">G</div>
      <div class="search-box" value="H">H</div>
      <div class="search-box" value="I">I</div>
      <div class="search-box" value="J">J</div>
      <div class="search-box" value="K">K</div>
      <div class="search-box" value="L">L</div>
      <div class="search-box" value="M">M</div>
      <div class="search-box" value="N">N</div>
      <div class="search-box" value="O">O</div>
      <div class="search-box" value="P">P</div>
      <div class="search-box" value="Q">Q</div>
      <div class="search-box" value="R">R</div>
      <div class="search-box" value="S">S</div>
      <div class="search-box" value="T">T</div>
      <div class="search-box" value="U">U</div>
      <div class="search-box" value="V">V</div>
      <div class="search-box" value="W">W</div>
      <div class="search-box" value="X">X</div>
      <div class="search-box" value="Y">Y</div>
      <div class="search-box" value="Z">Z</div>
      <div class="search-box" value="1">1</div>
      <div class="search-box" value="2">2</div>
      <div class="search-box" value="3">3</div>
      <div class="search-box" value="4">4</div>
      <div class="search-box" value="5">5</div>
      <div class="search-box" value="6">6</div>
      <div class="search-box" value="7">7</div>
      <div class="search-box" value="8">8</div>
      <div class="search-box" value="9">9</div>
      <div class="search-box" value="0">0</div>
    </div>
    <picture>
      <source
        media="(min-width:1280px)"
        srcset="
          ./images/hero-img/group_lg501@1x.png 1x,
          ./images/hero-img/group_lg501@2x.png 2x
        "
        type="image/jpg"
      />
      <source
        media="(min-width:768px)"
        srcset="
          ./images/hero-img/group_md336@1x.png 1x,
          ./images/hero-img/group_md336@2x.png 2x
        "
        type="image/jpg"
      />
      <source
        media="(min-width:480px)"
        srcset="
          ./images/hero-img/group_sm280@1x.png 1x,
          ./images/hero-img/group_sm280@2x.png 2x
        "
        type="image/jpg"
      />
      <img
        src="./images/hero-img/group_sm280@1x.png"
        alt="grapefruit cocktail"
        class="hero-img"
      />
    </picture>
    <form name="search-letter" class="search-letter">
      <label class="hero-text">
        <span>Search your favorite cocktail by ABC</span>
        <select class="select-letter">
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>
          <option value="E">E</option>
          <option value="F">F</option>
          <option value="G">G</option>
          <option value="H">H</option>
          <option value="I">I</option>
          <option value="J">J</option>
          <option value="K">K</option>
          <option value="L">L</option>
          <option value="M">M</option>
          <option value="N">N</option>
          <option value="O">O</option>
          <option value="P">P</option>
          <option value="Q">Q</option>
          <option value="R">R</option>
          <option value="S">S</option>
          <option value="T">T</option>
          <option value="U">U</option>
          <option value="V">V</option>
          <option value="W">W</option>
          <option value="X">X</option>
          <option value="Y">Y</option>
          <option value="Z">Z</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="0">0</option>
        </select>
      </label>
    </form>
  </div>
</section>
