<section class="hero-section">
  <div class="container hero">
    <div class="">
      <h1 class="hero-title">
        A party without cocktails<br />
        is not like a party
      </h1>
      <p class="search-text">Search your favorite cocktail by ABC</p>
      <div class="search-container">
        <div class="search-box" value="A">A</div>
        <div class="search-box" value="B">B</div>
        <div class="search-box" value="C">C</div>
        <div class="search-box" value="D">D</div>
        <div class="search-box" value="E">E</div>
        <div class="search-box" value="F">F</div>
        <div class="search-box" value="G">G</div>
        <div class="search-box" value="H">H</div>
        <div class="search-box" value="I">I</div>
        <div class="search-box" value="J">J</div>
        <div class="search-box" value="K">K</div>
        <div class="search-box" value="L">L</div>
        <div class="search-box" value="M">M</div>
        <div class="search-box" value="N">N</div>
        <div class="search-box" value="O">O</div>
        <div class="search-box" value="P">P</div>
        <div class="search-box" value="Q">Q</div>
        <div class="search-box" value="R">R</div>
        <div class="search-box" value="S">S</div>
        <div class="search-box" value="T">T</div>
        <div class="search-box" value="U">U</div>
        <div class="search-box" value="V">V</div>
        <div class="search-box" value="W">W</div>
        <div class="search-box" value="X">X</div>
        <div class="search-box" value="Y">Y</div>
        <div class="search-box" value="Z">Z</div>
        <div class="search-box" value="1">1</div>
        <div class="search-box" value="2">2</div>
        <div class="search-box" value="3">3</div>
        <div class="search-box" value="4">4</div>
        <div class="search-box" value="5">5</div>
        <div class="search-box" value="6">6</div>
        <div class="search-box" value="7">7</div>
        <div class="search-box" value="8">8</div>
        <div class="search-box" value="9">9</div>
        <div class="search-box" value="0">0</div>
      </div>
    </div>
    <picture>
      <source
        media="(min-width:1280px)"
        srcset="
          ./images/hero-img/group_lg501@1x.png 1x,
          ./images/hero-img/group_lg501@2x.png 2x
        "
        type="image/jpg"
      />
      <source
        media="(min-width:768px)"
        srcset="
          ./images/hero-img/group_md336@1x.png 1x,
          ./images/hero-img/group_md336@2x.png 2x
        "
        type="image/jpg"
      />
      <source
        media="(min-width:480px)"
        srcset="
          ./images/hero-img/group_sm280@1x.png 1x,
          ./images/hero-img/group_sm280@2x.png 2x
        "
        type="image/jpg"
      />
      <img
        src="./images/hero-img/group_sm280@1x.png"
        alt="grapefruit cocktail"
        class="hero-img"
      />
    </picture>
    <p class="hero-text">Search your favorite cocktail by ABC</p>
    <div class="selectid-letter-mb-box">
      <p class="selectid-letter-mb">A</p>
      <button type="button" class="open-list-letter">
        <svg class="" width="24" height="24">
          <path
            d="M7.791 12.791l7.543 7.543 7.543-7.543-0.943-0.943-6.6 6.6-6.6-6.6-0.943 0.943z"
          ></path>
        </svg>
      </button>
      <div class="select-letter-mb hiden">
        <div class="search-box-mb">A</div>
        <div class="search-box-mb">B</div>
        <div class="search-box-mb">C</div>
        <div class="search-box-mb">D</div>
        <div class="search-box-mb">E</div>
        <div class="search-box-mb">F</div>
        <div class="search-box-mb">G</div>
        <div class="search-box-mb">H</div>
        <div class="search-box-mb">I</div>
        <div class="search-box-mb">J</div>
        <div class="search-box-mb">K</div>
        <div class="search-box-mb">L</div>
        <div class="search-box-mb">M</div>
        <div class="search-box-mb">N</div>
        <div class="search-box-mb">O</div>
        <div class="search-box-mb">P</div>
        <div class="search-box-mb">Q</div>
        <div class="search-box-mb">R</div>
        <div class="search-box-mb">S</div>
        <div class="search-box-mb">T</div>
        <div class="search-box-mb">U</div>
        <div class="search-box-mb">V</div>
        <div class="search-box-mb">W</div>
        <div class="search-box-mb">X</div>
        <div class="search-box-mb">Y</div>
        <div class="search-box-mb">Z</div>
        <div class="search-box-mb">1</div>
        <div class="search-box-mb">2</div>
        <div class="search-box-mb">3</div>
        <div class="search-box-mb">4</div>
        <div class="search-box-mb">5</div>
        <div class="search-box-mb">6</div>
        <div class="search-box-mb">7</div>
        <div class="search-box-mb">8</div>
        <div class="search-box-mb">9</div>
        <div class="search-box-mb">0</div>
      </div>
    </div>
  </div>
</section>
