<!-- Modal -->
<div class="backdrop-team backdrop-team--is-hidden">
    <div class="modal-team">
      <button type="button" class="modal-team__close-btn">
        <svg class="modal-team__close-icon" width="30" height="30">
          <use href=""></use>
        </svg>
      </button>
      <div class="team-title-wrapper">
        <span class="team-logo"></span>
        <h1 class="team__name">EAZY TEAM</h1>
      </div>
      <ul class="team">
        <li class="team__item">
          <div class="img-wrapper">
            <img
              class="team__img"
              src=""
              alt="Yevhenii image"
              loading="lazy"
            />
          </div>
          <a
            target="_blank"
            rel="noopener noreferrer nofollow"
            href=""
            class="team__link"
          >
            <svg class="team__icon team__icon--linkedin" width="18" height="18">
              <use href=""></use>
            </svg>
          </a>
          <a
            target="_blank"
            rel="noopener noreferrer nofollow"
            href=""
            class="team__link"
          >
            <svg class="team__icon team__icon--github" width="18" height="18">
              <use href=""></use>
            </svg>
          </a>
          <div class="team__text-content">
            <p class="team__member"></p>
            <p class="team__role"></p>
          </div>
        </li>
        <li class="team__item">
          <div class="img-wrapper">
            <img
              class="team__img"
              src=""
              alt="Dmitry image"
              loading="lazy"
            />
          </div>
  
          <a
            target="_blank"
            rel="noopener noreferrer nofollow"
            href=""
            class="team__link"
          >
            <svg class="team__icon team__icon--linkedin" width="18" height="18">
              <use href=""></use>
            </svg>
          </a>
          <a
            target="_blank"
            rel="noopener noreferrer nofollow"
            href=""
            class="team__link"
          >
            <svg class="team__icon team__icon--github" width="18" height="18">
              <use href=""></use>
            </svg>
          </a>
          <div class="team__text-content">
            <p class="team__member"></p>
            <p class="team__role"></p>
          </div>
        </li>
        <li class="team__item">
          <div class="img-wrapper">
            <img
              class="team__img"
              src=""
              alt="Serhiy image"
              loading="lazy"
            />
          </div>
  
          <a
            target="_blank"
            rel="noopener noreferrer nofollow"
            href=""
            class="team__link"
          >
            <svg class="team__icon team__icon--linkedin" width="18" height="18">
              <use href=""></use>
            </svg>
          </a>
          <a
            target="_blank"
            rel="noopener noreferrer nofollow"
            href=""
            class="team__link"
          >
            <svg class="team__icon team__icon--github" width="18" height="18">
              <use href=""></use>
            </svg>
          </a>
          <div class="team__text-content">
            <p class="team__member"></p>
            <p class="team__role"></p>
          </div>
        </li>
        <li class="team__item">
          <div class="img-wrapper">
            <img
              class="team__img"
              src=""
              alt="Svitlana image"
              loading="lazy"
            />
          </div>
  
          <a
            target="_blank"
            rel="noopener noreferrer nofollow"
            href=""
            class="team__link"
          >
            <svg class="team__icon team__icon--linkedin" width="18" height="18">
              <use href=""></use>
            </svg>
          </a>
          <a
            target="_blank"
            rel="noopener noreferrer nofollow"
            href=""
            class="team__link"
          >
            <svg class="team__icon team__icon--github" width="18" height="18">
              <use href=""></use>
            </svg>
          </a>
          <div class="team__text-content">
            <p class="team__member"></p>
            <p class="team__role"></p>
          </div>
        </li>
        <li class="team__item">
          <div class="img-wrapper">
            <img
              class="team__img"
              src=""
              alt="Nataliya image"
              loading="lazy"
            />
          </div>
  
          <a
            target="_blank"
            rel="noopener noreferrer nofollow"
            href=""
            class="team__link"
          >
            <svg class="team__icon team__icon--linkedin" width="18" height="18">
              <use href=""></use>
            </svg>
          </a>
          <a
            target="_blank"
            rel="noopener noreferrer nofollow"
            href=""
            class="team__link"
          >
            <svg class="team__icon team__icon--github" width="18" height="18">
              <use href=""></use>
            </svg>
          </a>
          <div class="team__text-content">
            <p class="team__member"></p>
            <p class="team__role"></p>
          </div>
        </li>
        <li class="team__item">
          <div class="img-wrapper">
            <img
              class="team__img"
              src="./images/team/Artem.jpg"
              alt="Artem image"
              loading="lazy"
            />
          </div>
  
          <a
            target="_blank"
            rel="noopener noreferrer nofollow"
            href=""
            class="team__link"
          >
            <svg class="team__icon team__icon--linkedin" width="18" height="18">
              <use href=""></use>
            </svg>
          </a>
          <a
            target="_blank"
            rel="noopener noreferrer nofollow"
            href=""
            class="team__link"
          >
            <svg class="team__icon team__icon--github" width="18" height="18">
              <use href=""></use>
            </svg>
          </a>
          <div class="team__text-content">
            <p class="team__member"></p>
            <p class="team__role"></p>
          </div>
        </li>
        <li class="team__item">
          <div class="img-wrapper">
            <img
              class="team__img"
              src=""
              alt="Valeriya image"
              loading="lazy"
            />
          </div>
  
          <a
            target="_blank"
            rel="noopener noreferrer nofollow"
            href=""
            class="team__link"
          >
            <svg class="team__icon team__icon--linkedin" width="18" height="18">
              <use href=""></use>
            </svg>
          </a>
          <a
            target="_blank"
            rel="noopener noreferrer nofollow"
            href=""
            class="team__link"
          >
            <svg class="team__icon team__icon--github" width="18" height="18">
              <use href=""></use>
            </svg>
          </a>
          <div class="team__text-content">
            <p class="team__member"></p>
            <p class="team__role"></p>
          </div>
        </li>
        <li class="team__item">
          <div class="img-wrapper">
            <img
              class="team__img"
              src=""
              alt="Denys image"
              loading="lazy"
            />
          </div>
  
          <a
            target="_blank"
            rel="noopener noreferrer nofollow"
            href=""
            class="team__link"
          >
            <svg class="team__icon team__icon--linkedin" width="18" height="18">
              <use href=""></use>
            </svg>
          </a>
          <a
            target="_blank"
            rel="noopener noreferrer nofollow"
            href=""
            class="team__link"
          >
            <svg class="team__icon team__icon--github" width="18" height="18">
              <use href=""></use>
            </svg>
          </a>
          <div class="team__text-content">
            <p class="team__member"></p>
            <p class="team__role"></p>
          </div>
        </li>
        <li class="team__item">
          <div class="img-wrapper">
            <img
              class="team__img"
              src=""
              alt="Mariya image"
              loading="lazy"
            />
          </div>
  
          <a
            target="_blank"
            rel="noopener noreferrer nofollow"
            href=""
            class="team__link"
          >
            <svg class="team__icon team__icon--linkedin" width="18" height="18">
              <use href=""></use>
            </svg>
          </a>
          <a
            target="_blank"
            rel="noopener noreferrer nofollow"
            href=""
            class="team__link"
          >
            <svg class="team__icon team__icon--github" width="18" height="18">
              <use href=""></use>
            </svg>
          </a>
          <div class="team__text-content">
            <p class="team__member"></p>
            <p class="team__role"></p>
          </div>
        </li>
        <li class="team__item">
          <div class="img-wrapper">
            <img
              class="team__img"
              src=""
              alt="Viktor image"
              loading="lazy"
            />
          </div>
  
          <a
            target="_blank"
            rel="noopener noreferrer nofollow"
            href=""
            class="team__link"
          >
            <svg class="team__icon team__icon--linkedin" width="18" height="18">
              <use href=""></use>
            </svg>
          </a>
          <a
            target="_blank"
            rel="noopener noreferrer nofollow"
            href=""
            class="team__link"
          >
            <svg class="team__icon team__icon--github" width="18" height="18">
              <use href=""></use>
            </svg>
          </a>
          <div class="team__text-content">
            <p class="team__member"></p>
            <p class="team__role"></p>
          </div>
        </li>
      </ul>
    </div>
  </div>