//=======================================================================
//===                        Normalization                            ===
//=======================================================================
ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
  text-decoration: none;
  margin: 0;
  cursor: pointer;
}

img {
  display: block;
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  height: auto;
  margin: 0;
}
//=======================================================================

//=======================================================================
//===                       Перший контейнер                          ===
//=======================================================================

.footer {
  border-top: 1px solid var(--main-text-cl);
}

.footer__container--first {
  @media screen and (max-width: 1279.98px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 24px;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    justify-content: space-around;
    padding: 60px 24px;
  }
}

//=======================================================================
//===                             Store                               ===
//=======================================================================
.store {
  display: flex;
  flex-direction: column;
  width: 300px;

  @media screen and (min-width: 1280px) {
    margin-bottom: 28px;
    font-size: 22px;
    color: var(--main-text-cl);
  }

  &__header {
    @media screen and (max-width: 1279.98px) {
      display: none;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 20px;
      font-size: 22px;
      color: var(--main-text-cl);
    }
  }

  &__location {
    @media screen and (max-width: 1279.98px) {
      display: none;
    }
  }

  &__location {
    @media screen and (min-width: 1280px) {
      font-size: 16px;
      color: var(--gray-text-cl);
    }
  }
}

//=======================================================================
//===                            Contacts                             ===
//=======================================================================
.contacts {
  &__header {
    @media screen and (max-width: 1279.98px) {
      display: none;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 20px;
      font-size: 22px;
      color: var(--main-text-cl);
    }
  }

  &__list {
    @media screen and (max-width: 1279.98px) {
      display: none;
    }
  }

  &__item {
    margin-bottom: 12px;
  }

  &__info {
    @media screen and (min-width: 1280px) {
      font-size: 16px;
      color: var(--gray-text-cl);
    }
  }
}

//=======================================================================
//===                           Subscription                          ===
//=======================================================================
.subscription {
  display: flex;
  flex-direction: column;
  max-width: 450px;

  &__mailings {
    color: var(--main-text-cl);

    @media screen and (max-width: 1279.98px) {
      margin-bottom: 20px;
      font-size: 22px;
    }

    @media screen and (min-width: 1280px) {
      margin-bottom: 20px;
      font-size: 22px;
    }
  }

  &__container {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }

  &__input {
    @media screen and (max-width: 1279.98px) {
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.3);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      font-size: 16px;
      line-height: 1.25;
      height: 50px;
      padding: 0 16px;
      box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
      transition: background-color 950ms cubic-bezier(0.4, 0, 0.2, 1);
      max-width: 300px;
    }

    @media screen and (min-width: 1280px) {
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.3);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      font-size: 16px;
      line-height: 1.25;
      height: 50px;
      padding: 0 16px;
      box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
      transition: background-color 950ms cubic-bezier(0.4, 0, 0.2, 1);
      max-width: 300px;
    }
  }

  &__input:focus {
    background-color: #ffffff;
  }

  &__input:hover,
  &__input:focus {
    border-color: var(--main-text-cl);
  }

  &__text {
    color: var(--gray-text-cl);
  }

  &__policy {
    color: var(--gray-text-cl);
    border-bottom: 1px solid var(--main-text-cl);
  }
}

//=======================================================================
//===                       Другий контейнер                          ===
//=======================================================================
.footer__container--second {
  background-color: var(--main-text-cl);
}

.footer__container {
  display: flex;
  align-items: center;
  padding: 30px 24px;

  @media screen and (max-width: 1279.98px) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
  }
}

//=======================================================================
//===                              Join                               ===
//=======================================================================
.join {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 1279.98px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1280px) {
  }

  &__text {
    color: #ffffff;
    margin-bottom: 14;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.14;
  }

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    margin: 0 12px;
  }

  &__list {
    display: flex;
    list-style: none;
    gap: 24px;
    margin: 0;
    padding: 0;
  }

  &__item {
    margin: 0;
  }

  &__link {
    display: block;
    color: #fff;
    fill: #fff;
    text-align: center;
    text-decoration: none;
  }
}

//=======================================================================
//===                             Button                              ===
//=======================================================================
.subscription__btn {
  height: 50px;
  display: inline-block;
  text-decoration: none;
  padding: 12px 50px;
  color: #fd5103;
  background: #ffffff;
  border-radius: 4px;
  border: 1px solid #fd5103;

  &:hover {
    background: #fd5103;
    color: #ffffff;
    border: 2px solid #fd5103;
    transition: all 0.4s ease;
  }
}

.developers__btn {
  height: 50px;
  display: inline-block;
  text-decoration: none;
  padding: 12px 44px;
  color: #ffffff;
  background: #fd5103;
  border-radius: 4px;
  border: 1px solid #ffffff;

  &:hover {
    background: #ffffff;
    color: #fd5103;
    border: 2px solid #ffffff;
    transition: all 0.4s ease;
  }
}
//=======================================================================
//===                             Backdrop                            ===
//=======================================================================
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 2;
}

.modal__btn {
  display: block;
  margin: 0 auto;
}
