.gallery {
  padding-bottom: 60px;

  &__title {
    margin-bottom: 60px;
    text-align: center;

    @include fonts(
      $fw: 600,
      $fs: 22px,
      $lh: calc(42px / 22px),
      $color: var(--black-text-cl)
    );

    @include mq(tablet) {
      @include fonts(
        $fw: 700,
        $fs: 32px,
        $lh: calc(42px / 32px),
        $color: var(--black-text-cl)
      );
    }

    @include mq(desktop) {
      @include fonts(
        $fw: 700,
        $fs: 48px,
        $lh: calc(72px / 48px),
        $color: var(--black-text-cl)
      );
    }
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    @include mq(tablet) {
      gap: 32px;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  padding-bottom: 24px;
  border: 1px solid var(--main-text-cl);
  border-radius: 4px;

  @include mq(tablet) {
    width: 335px;
    padding-bottom: 19px;
  }
  @include mq(desctop) {
    width: 395px;
    padding-bottom: 28px;
  }

  &__img {
  }

  // .card__title

  &__title {
    margin-top: 48px;
    margin-bottom: 16px;
    text-align: center;

    @include fonts(
      $fw: 900,
      $fs: 26px,
      $lh: calc(42px / 26px),
      $color: var(--black-text-cl)
    );

    @include mq(tablet) {
      margin-top: 20px;
      margin-bottom: 25px;

      @include fonts(
        $fw: 900,
        $fs: 28px,
        $lh: calc(33px / 28px),
        $color: var(--black-text-cl)
      );
    }

    @include mq(desktop) {
      margin-bottom: 27px;

      @include fonts(
        $fw: 900,
        $fs: 32px,
        $lh: calc(38px / 32px),
        $color: var(--black-text-cl)
      );
    }
  }
}
